/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Banner */

	#banner:after {
		display: none;
	}

.chatbot{
	height: 100vh;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
